<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/main.css" />
        <script src="https://api-maps.yandex.ru/2.1/?apikey=6ba37b26-12fa-49d4-b642-c43c6c1355838&lang=ru_RU" type="text/javascript"></script>
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
